/*  Color References
green #79b044;
salmon #dd5638;
blue gray: #3e4249;

*/

/* ====GENERAL ====*/

body    {
    margin-top: 50px;
    font-family: 'proxima-nova', 'Raleway', Helevetica, sans-serif;
    font-size: 16px;
    background: url('../img/tile.jpg') top left repeat;
}



/*===  GLOBAL ===*/
h1,h2,h3,h4,h5,h6   {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1  {
    font-size: 3em;
}

h1,h2   {
    margin: 0 0 40px;
}

h3  {
    margin: 20px 0;
}

h4  {
    font-size: 18px;

}

button, input, .btn, a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
}

.btn    {
    font-weight: bold;
}
.btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
}

img {
    max-width: 100%;
}

/* ===HERO=== */

#hero   {
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 500px;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

#hero article   {
    width: 100%;
    text-align: center;
}
#hero. hero-text    {
    margin-top: 30px;
    

}

#price-timeline {
    margin:  30px 0 60px;
    text-align: center;

}

#price-timeline .price  {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background: #3e4249;
    padding: 10px 20px 30px;
    position: relative;
    vertical-align: top;

}

#price-timeline .price.active   {
    background: #dd5638;
}

#price-timeline .price span {
    background: #101010;
    display: block;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    position: absolute;
    bottom: -;
    left: 50%;
    margin-left: -35px;
}


#price-timeline h4 {
    margin: 0 0 0 10px;

}

#price-timeline h4 small    {
    color: white;
    font-weight: bold;
    display: block;
}

/*=====Layout =======*/

#optin {
	background: #3e4249;
	padding: 20px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 1.2em;
}



#optin p    {
    margin: 7px 0 0 0;
}




































    